<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/caroussel/beer1.jpg" class="d-block w-100" alt="Bieres1">
        <div class="row">
          <div class="carousel-caption d-none d-md-block">
            <h5>Dégustez notre meilleure bières</h5>
            <p>Venez vous détendre dans un environnement agréable</p>
          </div>
        </div>
      </div>
    </div>
  </div>
