<footer class="bg-secondary">
    <div class="container mt-5 text-center">
        <div class="row">
            <div class="col-12 col-md-4">
                <h1>About</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur non, ipsa ea cumque, repudiandae, eveniet sapiente consectetur facere obcaecati neque ipsam repellendus maxime magnam. Quibusdam, tenetur! Obcaecati sit commodi laudantium totam! Doloremque explicabo fugit inventore rerum? Vitae molestiae eveniet accusamus fugit praesentium! Dignissimos totam impedit ducimus numquam eos quo hic?</p>
            </div>
    
            <div class="col-12 col-md-4">
                <h1>Follow</h1>
                <p>Facebook</p>
                <p>Twitter</p>
                <p>Linkedin</p>
                <p>Instagram</p>
            </div>
    
            <div class="col-12 col-md-4">
                <h1>Les mentions</h1>
                <a href="#">Vie privée - Mentions Légales</a>
            </div>
        </div>
    </div>    
</footer>